<h1>Hello from rails</h1>
<p>
  It is now <%= @time %>
</p>

<h2>Playtime Exercises</h2>
<p><%= 1+2 %></p>
<p><%= "cow" + "boy" %></p>
<p><%= 1.hour.from_now.localtime %></p>

<p>
  Time to say
  <%= link_to "Goodbye", say_goodbye_path %>!
</p>

<h2>Files</h2>
<% @files.each do |file| %>
  <ul>
    <li>file name is: <%= file %></li>
  </ul>
<% end %>